<!DOCTYPE html>
<html>

<head>
    <title>this is About page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    <h1>About</h1>
    <img src="/images/me.png">
    {{>footer}}
    
</body>

</html>